# Description:
Read civil twilight data from the Astronomical Applications Department of the U.S. Naval Observatory for 2010 for Bronx, NY and 2012 for New York, NY and Philadelphia, PA. Reformat the data so that it can be read as a dataframe in pandas.

## Sources:
### Bronx, NY:
### New York, NY:

https://aa.usno.navy.mil/cgi-bin/aa_rstablew.pl?ID=AA&year=2012&task=2&state=NY&place=New+York

### Philadelphia, PA:
https://aa.usno.navy.mil/cgi-bin/aa_rstablew.pl?ID=AA&year=2012&task=2&state=PA&place=Philadelphia

In [1]:
import os
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [2]:
pd.set_option('max_columns', 100)
pd.set_option('max_rows', 100)

In [3]:
os.getcwd()

'/Users/alvastrand/Documents/OU/Research/notebooks'

In [4]:
path = '/Users/alvastrand/'
os.chdir(path)

In [5]:
os.getcwd()

'/Users/alvastrand'

In [6]:
filename = 'ebd_US_barswa_201001_202001_zerofilled_relJan-2020.csv'
df = pd.read_csv(filename)

/Users/alvastrand/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (11,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.shape

(3841515, 34)

In [8]:
df.head(2)

,checklist_id,last_edited_date,country,country_code,state,state_code,county,county_code,iba_code,bcr_code,usfws_code,atlas_block,locality,locality_id,locality_type,latitude,longitude,observation_date,time_observations_started,observer_id,sampling_event_identifier,protocol_type,protocol_code,project_code,duration_minutes,effort_distance_km,effort_area_ha,number_observers,all_species_reported,group_identifier,trip_comments,scientific_name,observation_count,species_observed
0,S921844,2009-02-26 17:21:28,United States,US,Connecticut,US-CT,Litchfield,US-CT-005,NaN,30.0,NaN,NaN,06763 Morris,L122425,PC,41.68865,-73.18764,2002-05-14,18:30:00,obs16599,S921844,Stationary,P21,EBIRD,90,NaN,NaN,2,True,NaN,NaN,Hirundo rustica,0,False
1,S925230,2015-02-25 21:42:53,United States,US,North Carolina,US-NC,Buncombe,US-NC-021,NaN,28.0,NaN,NaN,60 Miller Cove Road,L2226869,P,35.57091,-82.30535,2002-06-07,08:00:00,obs11483,S925230,Stationary,P21,EBIRD,60,NaN,NaN,1,True,NaN,NaN,Hirundo rustica,0,False

In [9]:
min_lat = math.floor(23.88817)
print(min_lat)

max_lat = math.ceil(48.2235)
print(max_lat)

min_lon = math.floor(-92.88799)
print(min_lon)

max_lon = math.ceil(-66.9502) + 1
print(max_lon)

23
49
-93
-65

In [10]:
list_lat = range(min_lat, max_lat, 2)
print(list_lat)
print(len(list_lat))

list_lon = range(min_lon, max_lon, 2)
print(list_lon)
print(len(list_lon))

range(23, 49, 2)
13
range(-93, -65, 2)
14

In [11]:
df['grid_cell'] = np.nan

In [12]:
df.shape

(3841515, 35)

In [13]:
df.head(2)

,checklist_id,last_edited_date,country,country_code,state,state_code,county,county_code,iba_code,bcr_code,usfws_code,atlas_block,locality,locality_id,locality_type,latitude,longitude,observation_date,time_observations_started,observer_id,sampling_event_identifier,protocol_type,protocol_code,project_code,duration_minutes,effort_distance_km,effort_area_ha,number_observers,all_species_reported,group_identifier,trip_comments,scientific_name,observation_count,species_observed,grid_cell
0,S921844,2009-02-26 17:21:28,United States,US,Connecticut,US-CT,Litchfield,US-CT-005,NaN,30.0,NaN,NaN,06763 Morris,L122425,PC,41.68865,-73.18764,2002-05-14,18:30:00,obs16599,S921844,Stationary,P21,EBIRD,90,NaN,NaN,2,True,NaN,NaN,Hirundo rustica,0,False,NaN
1,S925230,2015-02-25 21:42:53,United States,US,North Carolina,US-NC,Buncombe,US-NC-021,NaN,28.0,NaN,NaN,60 Miller Cove Road,L2226869,P,35.57091,-82.30535,2002-06-07,08:00:00,obs11483,S925230,Stationary,P21,EBIRD,60,NaN,NaN,1,True,NaN,NaN,Hirundo rustica,0,False,NaN

In [14]:
num = 0
for i in range(len(list_lat)):
    for j in range(len(list_lon)):
        if i == len(list_lat) - 1:
            bounding_lat = list_lat[i] + 2
        else:
            bounding_lat = list_lat[i+1]
        if j == len(list_lon) - 1:
            bounding_lon = list_lon[j] + 2
        else:
            bounding_lon = list_lon[j+1]
        df.loc[(df['latitude'] > list_lat[i]) & 
               (df['latitude'] <= bounding_lat) & 
               (df['longitude'] > list_lon[j]) & 
               (df['longitude'] <= bounding_lon), 'grid_cell'] = num
        print(num)
        print(list_lat[i], bounding_lat)
        print(list_lon[j], bounding_lon)
        num += 1

0
23 25
-93 -91
1
23 25
-91 -89
2
23 25
-89 -87
3
23 25
-87 -85
4
23 25
-85 -83
5
23 25
-83 -81
6
23 25
-81 -79
7
23 25
-79 -77
8
23 25
-77 -75
9
23 25
-75 -73
10
23 25
-73 -71
11
23 25
-71 -69
12
23 25
-69 -67
13
23 25
-67 -65
14
25 27
-93 -91
15
25 27
-91 -89
16
25 27
-89 -87
17
25 27
-87 -85
18
25 27
-85 -83
19
25 27
-83 -81
20
25 27
-81 -79
21
25 27
-79 -77
22
25 27
-77 -75
23
25 27
-75 -73
24
25 27
-73 -71
25
25 27
-71 -69
26
25 27
-69 -67
27
25 27
-67 -65
28
27 29
-93 -91
29
27 29
-91 -89
30
27 29
-89 -87
31
27 29
-87 -85
32
27 29
-85 -83
33
27 29
-83 -81
34
27 29
-81 -79
35
27 29
-79 -77
36
27 29
-77 -75
37
27 29
-75 -73
38
27 29
-73 -71
39
27 29
-71 -69
40
27 29
-69 -67
41
27 29
-67 -65
42
29 31
-93 -91
43
29 31
-91 -89
44
29 31
-89 -87
45
29 31
-87 -85
46
29 31
-85 -83
47
29 31
-83 -81
48
29 31
-81 -79
49
29 31
-79 -77
50
29 31
-77 -75
51
29 31
-75 -73
52
29 31
-73 -71
53
29 31
-71 -69
54
29 31
-69 -67
55
29 31
-67 -65
56
31 33
-93 -91
57
31 33
-91 -89
58
31 33
-89 -87
59
31 33
-87 -85
60
31 33
-85 -83
61
31 33
-83 -81
62
31 33
-81 -79
63
31 33
-79 -77
64
31 33
-77 -75
65
31 33
-75 -73
66
31 33
-73 -71
67
31 33
-71 -69
68
31 33
-69 -67
69
31 33
-67 -65
70
33 35
-93 -91
71
33 35
-91 -89
72
33 35
-89 -87
73
33 35
-87 -85
74
33 35
-85 -83
75
33 35
-83 -81
76
33 35
-81 -79
77
33 35
-79 -77
78
33 35
-77 -75
79
33 35
-75 -73
80
33 35
-73 -71
81
33 35
-71 -69
82
33 35
-69 -67
83
33 35
-67 -65
84
35 37
-93 -91
85
35 37
-91 -89
86
35 37
-89 -87
87
35 37
-87 -85
88
35 37
-85 -83
89
35 37
-83 -81
90
35 37
-81 -79
91
35 37
-79 -77
92
35 37
-77 -75
93
35 37
-75 -73
94
35 37
-73 -71
95
35 37
-71 -69
96
35 37
-69 -67
97
35 37
-67 -65
98
37 39
-93 -91
99
37 39
-91 -89
100
37 39
-89 -87
101
37 39
-87 -85
102
37 39
-85 -83
103
37 39
-83 -81
104
37 39
-81 -79
105
37 39
-79 -77
106
37 39
-77 -75
107
37 39
-75 -73
108
37 39
-73 -71
109
37 39
-71 -69
110
37 39
-69 -67
111
37 39
-67 -65
112
39 41
-93 -91
113
39 41
-91 -89
114
39 41
-89 -87
115
39 41
-87 -85
116
39 41
-85 -83
117
39 41
-83 -81
118
39 41
-81 -79
119
39 41
-79 -77
120
39 41
-77 -75
121
39 41
-75 -73
122
39 41
-73 -71
123
39 41
-71 -69
124
39 41
-69 -67
125
39 41
-67 -65
126
41 43
-93 -91
127
41 43
-91 -89
128
41 43
-89 -87
129
41 43
-87 -85
130
41 43
-85 -83
131
41 43
-83 -81
132
41 43
-81 -79
133
41 43
-79 -77
134
41 43
-77 -75
135
41 43
-75 -73
136
41 43
-73 -71
137
41 43
-71 -69
138
41 43
-69 -67
139
41 43
-67 -65
140
43 45
-93 -91
141
43 45
-91 -89
142
43 45
-89 -87
143
43 45
-87 -85
144
43 45
-85 -83
145
43 45
-83 -81
146
43 45
-81 -79
147
43 45
-79 -77
148
43 45
-77 -75
149
43 45
-75 -73
150
43 45
-73 -71
151
43 45
-71 -69
152
43 45
-69 -67
153
43 45
-67 -65
154
45 47
-93 -91
155
45 47
-91 -89
156
45 47
-89 -87
157
45 47
-87 -85
158
45 47
-85 -83
159
45 47
-83 -81
160
45 47
-81 -79
161
45 47
-79 -77
162
45 47
-77 -75
163
45 47
-75 -73
164
45 47
-73 -71
165
45 47
-71 -69
166
45 47
-69 -67
167
45 47
-67 -65
168
47 49
-93 -91
169
47 49
-91 -89
170
47 49
-89 -87
171
47 49
-87 -85
172
47 49
-85 -83
173
47 49
-83 -81
174
47 49
-81 -79
175
47 49
-79 -77
176
47 49
-77 -75
177
47 49
-75 -73
178
47 49
-73 -71
179
47 49
-71 -69
180
47 49
-69 -67
181
47 49
-67 -65

In [15]:
df['grid_cell'] = df['grid_cell'].astype(int)

In [16]:
df.shape

(3841515, 35)

In [17]:
df.head(2)

,checklist_id,last_edited_date,country,country_code,state,state_code,county,county_code,iba_code,bcr_code,usfws_code,atlas_block,locality,locality_id,locality_type,latitude,longitude,observation_date,time_observations_started,observer_id,sampling_event_identifier,protocol_type,protocol_code,project_code,duration_minutes,effort_distance_km,effort_area_ha,number_observers,all_species_reported,group_identifier,trip_comments,scientific_name,observation_count,species_observed,grid_cell
0,S921844,2009-02-26 17:21:28,United States,US,Connecticut,US-CT,Litchfield,US-CT-005,NaN,30.0,NaN,NaN,06763 Morris,L122425,PC,41.68865,-73.18764,2002-05-14,18:30:00,obs16599,S921844,Stationary,P21,EBIRD,90,NaN,NaN,2,True,NaN,NaN,Hirundo rustica,0,False,135
1,S925230,2015-02-25 21:42:53,United States,US,North Carolina,US-NC,Buncombe,US-NC-021,NaN,28.0,NaN,NaN,60 Miller Cove Road,L2226869,P,35.57091,-82.30535,2002-06-07,08:00:00,obs11483,S925230,Stationary,P21,EBIRD,60,NaN,NaN,1,True,NaN,NaN,Hirundo rustica,0,False,89

In [18]:
print(df['grid_cell'].min())
print(df['grid_cell'].max())
print(len(df['grid_cell'].unique()))

4
180
106

In [19]:
filename = 'ebd_US_barswa_201001_202001_zerofilled_blocks_relJan-2020.csv'
df.to_csv(filename, index=False)